<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="aspnetcidev" value="https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json" />
		<add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<disabledPackageSources>
		<add key="nuget.episerver.com" value="true" />
		<add key="Microsoft and .NET" value="true" />
	</disabledPackageSources>
</configuration>